.msjLError {
  	color: red;
  	font-family: courier new;
  	font-style: bold;
  	font-size; 25%;
}

.textoLeyenda {
	font-family: verdana;
	font-size: 14;
	color: black;
	font-style: bold;
}

.etiqueta {
	font-family: tahoma;
	font-size: 12;
	color: blue;
	font-style: bold;
}

.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

header {
    border-radius: 5px;
    background-color: silver;
    padding: 20px;
}
footer {
    border-radius: 5px;
    background-color: silver;
    padding: 20px;
}
